{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1 align="center">Привет, я автор</h1>
  <p>
    Я - Скаковский Евгений Ромуальдович. Мне 45. 
    Образование - инженер электромеханик путей сообжения. 
    Работаю в метрологической службе металлургического предприятия.
  </p>
  <p>
    В будущем хочу попробовать себя в роли программиста, потому что 
    интерес к программированию возникал периодически еще со школьной
    скамьи. Кроме этого, мои дети достигли определенных успехов 
    в этой области, а сын и вовсе связал свою профессиональную деятельность 
    с программированием.
  </p>
  <h3 align="center">Мои контакты</h3>
  <p>
    Email: Skakovsku@yandex.ru<br>
    Ссылка на аккаунт Githab: 
    <a href="https://github.com/Skakovsku" target="_blank">
      https://github.com/Skakovsku
    </a>
  </p>
  <a href="https://vk.com/id181848841" target="_blank">
    <img src="/static/img/vk.png">
  </a>
  <h3 align="center">Создание проекта</h3>
  <p>
    Мой проект <b>Yatube</b> рождается в муках! Но у меня есть замечательные помощники:
    кот, собака и резиновая уточка. Все члены этого зоопарка являются сотрудниками
    организации "Yandex.Practicum". День и ночь они неустанно спасают таких "знающих" 
    студентов, как я, за что выражаю им огромную благодарность!
  </p>
{% endblock %}
